div,h1,h2,h3,h4,h5,p,ul,li,a{
  margin:0;
}
h2,h3,h4,footer p {
  text-align: center;
}
/*body {  font-family: sans-serif;
  padding: 20px;
  /* background properties 
  background-image: url(picture/yyy.jpg);
  background-repeat: repeat;
  background-position: 50% center;
}
*/
section {
    font-family: sans-serif;
    padding: 20px;
    /* background properties */
    background-image: url(picture/zzz.jpg);
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 97.5%;
    height: 750px;
}
section ul p {
  text-align: center;
  font-size: 300%;
  padding-top: 100px;
  color:white;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}
.size {
  width: 250px;
  height: 350px;
}
.ddd {
  padding-top: 200px;
  color: #fff;
}
footer p {
  padding-bottom: 50px;
  color:white;
}
.bg{
  position: fixed;
  z-index: -1;
}
.img-hover{
  width: 470px;
  height:340px;
  background: red;
  position: absolute;
  top: 0;
  opacity: 0;
  transition-duration: 1s;
  display: flex;
  justify-content: space-around;
}
.img-hover:hover{
  opacity: 0.5;
  transition-duration: 1s;   
}
.img-hover .btn{
position: absolute;
top:50%;
}